 <section class="teacher-section padding-bottom padding-top bg_img" data-background="{{img("theme::assets/images/teacher/teacher-bg.jpg").path}}">
        <div class="container">
        
            <div class="row mb-30-none justify-content-center">
                <div class="col-lg-6">
                    <div class="teacher-item">
                        <div class="teacher-inner">
                            <div class="teacher-thumb">
                                <div class="thumb-inner">
                                    <a href="#"><img src="{{img("theme::assets/images/teacher/teacher01.jpg").path}}" alt="teacher"></a>
                                </div>
                            </div>
                            <div class="teacher-content">
                                <h6 class="title"><a href="#">Alison Tylor</a></h6>
                                <span class="info">Spanish Teacher</span>
                                <p>We trust in giving them the best of the best from down our hearts at Fairmont International School </p>
                                <ul class="teacher-social">
                                    <li>
                                        <a href="#" class="facebook"><i class="fa fa-facebook-f"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="pinterest"><i class="fa fa-pinterest-p"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="vimeo"><i class="fa fa-vimeo-v"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="behance"><i class="fa fa-behance"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="teacher-item">
                        <div class="teacher-inner">
                            <div class="teacher-thumb">
                                <div class="thumb-inner">
                                    <a href="#"><img src="{{img("theme::assets/images/teacher/teacher02.jpg").path}}" alt="teacher"></a>
                                </div>
                            </div>
                            <div class="teacher-content">
                                <h6 class="title"><a href="#">Mrs Jane Doe</a></h6>
                                <span class="info">Spanish Teacher</span>
                                 <p>We trust in giving them the best of the best from down our hearts at Fairmont International School </p>
                                <ul class="teacher-social">
                                    <li>
                                        <a href="#" class="facebook"><i class="fa fa-facebook-f"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="pinterest"><i class="fa fa-pinterest-p"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="vimeo"><i class="fa fa-vimeo-v"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="behance"><i class="fa fa-behance"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="teacher-item">
                        <div class="teacher-inner">
                            <div class="teacher-thumb">
                                <div class="thumb-inner">
                                    <a href="#"><img src="{{img("theme::assets/images/teacher/teacher03.jpg").path}}" alt="teacher"></a>
                                </div>
                            </div>
                            <div class="teacher-content">
                                <h6 class="title"><a href="#">Dillon Harper</a></h6>
                                <span class="info">Spanish Teacher</span>
                                <p>We trust in giving them the best of the best from down our hearts at Fairmont International School </p>
                                <ul class="teacher-social">
                                    <li>
                                        <a href="#" class="facebook"><i class="fa fa-facebook-f"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="pinterest"><i class="fa fa-pinterest-p"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="vimeo"><i class="fa fa-vimeo-v"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="behance"><i class="fa fa-behance"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="teacher-item">
                        <div class="teacher-inner">
                            <div class="teacher-thumb">
                                <div class="thumb-inner">
                                    <a href="#"><img src="{{img("theme::assets/images/teacher/teacher04.jpg").path}}" alt="teacher"></a>
                                </div>
                            </div>
                            <div class="teacher-content">
                                <h6 class="title"><a href="#">De Yong</a></h6>
                                <span class="info">Spanish Teacher</span>
                                  <p>We trust in giving them the best of the best from down our hearts at Fairmont International School </p>
                                <ul class="teacher-social">
                                   <li>
                                        <a href="#" class="facebook"><i class="fa fa-facebook-f"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="pinterest"><i class="fa fa-pinterest-p"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="vimeo"><i class="fa fa-vimeo-v"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="behance"><i class="fa fa-behance"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>