<div class="gallery-section padding-top padding-bottom pos-rel">
        <div class="top-shape-center">
            <img src="{{img("theme::assets/css/img/gallery1.png").path}}" alt="css">
        </div>
        <div class="bottom-shape-left">
            <img src="{{img("theme::assets/css/img/bottom-shape.png").path}}" alt="css">
        </div>
        <div class="container">
            <ul class="filter-2">
                <li data-filter="*" class="active"><span class="category">Show All</span><span class="amount">09</span></li>
                <li data-filter=".toddler"><span class="category">Curricular</span><span class="amount">05</span></li>
                <li data-filter=".preschool"><span class="category">Extracurricular</span><span class="amount">06</span></li>
                <li data-filter=".programe"><span class="category">General</span><span class="amount">03</span></li>
                <li data-filter=".kinder"><span class="category">Outdoors</span><span class="amount">06</span></li>
            </ul>
			
			
            <div class="masonary-wrapper lg-three-items">
				
                <div class="masonary-item preschool programe">
                    <div class="gallery-item">
                        <div class="gallery-inner">
                            <div class="gallery-thumb">
                            <a class="img-pop" href="{{img("theme::img/1.jpg").path}}">
							<img src="{{img("theme::img/1.jpg").path}}" alt="gallery"></a>
                        </div>
                        <div class="gallery-content">
                            <h5 class="title">Edge Catalysts For Change</h5>
                            <span>Financial | Human</span>
                        </div>
                    </div>
                    </div>
                </div>
				
                <div class="masonary-item toddler kinder">
                    <div class="gallery-item">
					    <div class="gallery-inner">
                        <div class="gallery-thumb">
                            <a class="img-pop" href="{{img("theme::img/2.jpg").path}}">
							<img src="{{img("theme::img/2.jpg").path}}" alt="gallery"></a>
                        </div>
                        <div class="gallery-content">
                            <h5 class="title">Plagiarze Reable Bandwdth</h5>
                            <span>Financial | Human</span>
                        </div>
                    </div>
                    </div>
                </div>
				
                <div class="masonary-item preschool kinder">
                    <div class="gallery-item">
					 <div class="gallery-inner">
                        <div class="gallery-thumb">
                            <a class="img-pop" href="{{img("theme::img/3.jpg").path}}">
							<img src="{{img("theme::img/3.jpg").path}}" alt="gallery"></a>
                        </div>
                        <div class="gallery-content">
                            <h5 class="title">Cuting Edge Mindshare Visa</h5>
                            <span>Resources | Strategy</span>
                        </div>
                    </div>
                    </div>
                </div>
				
                <div class="masonary-item toddler programe">
                    <div class="gallery-item">
					 <div class="gallery-inner">
                        <div class="gallery-thumb">
                            <a class="img-pop" href="{{img("theme::img/4.jpg").path}}">
							<img src="{{img("theme::img/4.jpg").path}}" alt="gallery"></a>
                        </div>
                        <div class="gallery-content">
                            <h5 class="title">Edge Catalysts For Change</h5>
                            <span>Start Ups | Resources</span>
                        </div>
                    </div>
                    </div>
                </div>
				
				
                <div class="masonary-item preschool kinder">
                    <div class="gallery-item">
					     <div class="gallery-inner">
                        <div class="gallery-thumb">
                           <a class="img-pop" href="{{img("theme::img/10.jpg").path}}">
							<img src="{{img("theme::img/10.jpg").path}}" alt="gallery"></a>
                        </div>
                        <div class="gallery-content">
                            <h5 class="title">Plagiarze Reable Bandwdth</h5>
                            <span>Financial | Human</span>
                        </div>
                    </div>
                    </div>
                </div>
				
				
                <div class="masonary-item toddler preschool kinder">
                    <div class="gallery-item">
					    <div class="gallery-inner">
                        <div class="gallery-thumb">
                            <a class="img-pop" href="{{img("theme::img/40.jpg").path}}">
							<img src="{{img("theme::img/40.jpg").path}}" alt="gallery"></a>
                        </div>
                        <div class="gallery-content">
                            <h5 class="title">Cuting Edge Mindshare Visa</h5>
                            <span>Resources | Strategy</span>
                        </div>
                    </div>
                    </div>
                </div>
				
                <div class="masonary-item preschool programe">
                    <div class="gallery-item">
						 <div class="gallery-inner">
                        <div class="gallery-thumb">
                            <a class="img-pop" href="{{img("theme::img/18.jpg").path}}">
							<img src="{{img("theme::img/18.jpg").path}}" alt="gallery"></a>
                        </div>
                        <div class="gallery-content">
                            <h5 class="title">Edge Catalysts For Change</h5>
                            <span>Start Ups | Resources</span>
                        </div>
                    </div>
                    </div>
                </div>
				
                <div class="masonary-item toddler kinder">
                    <div class="gallery-item">
					     <div class="gallery-inner">
                        <div class="gallery-thumb">
                            <a class="img-pop" href="{{img("theme::img/55.jpg").path}}">
							<img src="{{img("theme::img/55.jpg").path}}" alt="gallery"></a>
                        </div>
                        <div class="gallery-content">
                            <h5 class="title">Plagiarze Reable Bandwdth</h5>
                            <span>Resources | Strategy</span>
                        </div>
                    </div>
                    </div>
                </div>
				
				
                <div class="masonary-item toddler kinder preschool">
                    <div class="gallery-item">
					     <div class="gallery-inner">
                        <div class="gallery-thumb">
                            <a class="img-pop" href="{{img("theme::img/24.jpg").path}}">
							<img src="{{img("theme::img/24.jpg").path}}" alt="gallery"></a>
                        </div>
                        <div class="gallery-content">
                            <h5 class="title">Cuting Edge Mindshare Visa</h5>
                            <span>Start Ups | Resources</span>
                        </div>
                    </div>
                    </div>
                </div>

				<div class="masonary-item toddler kinder preschool">
                    <div class="gallery-item">
					     <div class="gallery-inner">
                        <div class="gallery-thumb">
                            <a class="img-pop" href="{{img("theme::img/32.jpg").path}}">
							<img src="{{img("theme::img/32.jpg").path}}" alt="gallery"></a>
                        </div>
                        <div class="gallery-content">
                            <h5 class="title">Cuting Edge Mindshare Visa</h5>
                            <span>Start Ups | Resources</span>
                        </div>
                    </div>
                    </div>
                </div>
				
				
				<div class="masonary-item toddler kinder preschool">
                    <div class="gallery-item">
					     <div class="gallery-inner">
                        <div class="gallery-thumb">
                            <a class="img-pop" href="{{img("theme::img/21.jpg").path}}">
							<img src="{{img("theme::img/21.jpg").path}}" alt="gallery"></a>
                        </div>
                        <div class="gallery-content">
                            <h5 class="title">Cuting Edge Mindshare Visa</h5>
                            <span>Start Ups | Resources</span>
                        </div>
                    </div>
                    </div>
                </div>
				
				
				<div class="masonary-item toddler kinder preschool">
                    <div class="gallery-item">
					     <div class="gallery-inner">
                        <div class="gallery-thumb">
                            <a class="img-pop" href="{{img("theme::img/15.jpg").path}}">
							<img src="{{img("theme::img/15.jpg").path}}" alt="gallery"></a>
                        </div>
                        <div class="gallery-content">
                            <h5 class="title">Cuting Edge Mindshare Visa</h5>
                            <span>Start Ups | Resources</span>
                        </div>
                    </div>
                    </div>
                </div>
				
            </div>
            
        </div>
    </div>