  <section class="class-section  padding-bottom pos-rel">
        <div class="top-shape-center">
            <img src="{{img("theme::assets/css/img/gallery1.png").path}}" alt="css">
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-header">
                        <span class="cate">Featured Lessons</span>
                        <h3 class="title">Popular Learning Sessions</h3>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mb-30-none">
                <div class="col-xl-4 col-md-6">
                    <div class="class-item">
                        <div class="class-thumb">
                            <a href="#"><img src="{{img("theme::assets/images/class/class01.jpg").path}}" alt="class"></a>
                        </div>
                        <div class="class-content">
                            <h5 class="title">
                                <a href="#">Art And Color Management</a>
                            </h5>
                            <div class="class-meta">
                                <div class="class-author">
                                    <div class="thumb">
                                        <a href="#"><img src="{{img("theme::assets/images/class/class01.jpg").path}}" alt="class"></a>
                                    </div>
                                    <div class="content">
                                        <p class="subtitle">Children enjoy a variety of specialist classes every week to enrich learning.
These classes are taught by specialist teachers.</p>
                                       
                                    </div>
                                </div>
                                <div class="cost-area">
                                    
                                </div>
                            </div>
                            <div class="schedule-area">
                               <div class="schedule-item">
                                    <h6 class="sub-title">2 - 8</h6>
                                    <span class="info">Age From</span>
                                </div>
                                <div class="schedule-item">
                                    <h6 class="sub-title">Tue,Wed & Fri</h6>
                                    <span class="info">Day of the week</span>
                                </div>
                                <div class="schedule-item">
                                    <h6 class="sub-title">Population</h6>
                                    <span class="info">30 and below</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="class-item">
                        <div class="class-thumb">
                            <a href="#"><img src="{{img("theme::assets/images/class/class02.jpg").path}}" alt="class"></a>
                        </div>
                        <div class="class-content">
                            <h5 class="title">
                                <a href="#">Music And Performance</a>
                            </h5>
                            <div class="class-meta">
                                <div class="class-author">
                                    <div class="thumb">
                                        <a href="#"><img src="{{img("theme::assets/images/class/class02.jpg").path}}" alt="class"></a>
                                    </div>
                                    <div class="content">
                                        <p class="subtitle">Children enjoy a variety of specialist classes every week to enrich learning.
These classes are taught by specialist teachers.</p>
                                    </div>
                                </div>
                                <div class="cost-area">
                                  
                                </div>
                            </div>
                            <div class="schedule-area">
                                <div class="schedule-item">
                                    <h6 class="sub-title">4 - 14</h6>
                                    <span class="info">Age From</span>
                                </div>
                                <div class="schedule-item">
                                    <h6 class="sub-title">Mon & Wed</h6>
                                    <span class="info">Day of the week</span>
                                </div>
                                <div class="schedule-item">
                                    <h6 class="sub-title">Population</h6>
                                    <span class="info">30 and below</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="class-item">
                        <div class="class-thumb">
                            <a href="#"><img src="{{img("theme::assets/images/class/class03.jpg").path}}" alt="class"></a>
                        </div>
                        <div class="class-content">
                            <h5 class="title">
                                <a href="#">Emergency Response</a>
                            </h5>
                            <div class="class-meta">
                                <div class="class-author">
                                    <div class="thumb">
                                        <a href="#"><img src="{{img("theme::assets/images/class/class03.jpg").path}}" alt="class"></a>
                                    </div>
                                    <div class="content">
                                        <p class="subtitle">Children enjoy a variety of specialist classes every week to enrich learning.
These classes are taught by specialist teachers.</p>
                                    </div>
                                </div>
                                <div class="cost-area">
                                  
                                </div>
                            </div>
                            <div class="schedule-area">
                                 <div class="schedule-item">
                                    <h6 class="sub-title">7 & above</h6>
                                    <span class="info">Age From</span>
                                </div>
                                <div class="schedule-item">
                                    <h6 class="sub-title">Thur & Fri</h6>
                                    <span class="info">Day of the week</span>
                                </div>
                                <div class="schedule-item">
                                    <h6 class="sub-title">Population</h6>
                                    <span class="info">30 and above</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			
		
    </section>