<section class="events-single-section padding-top padding-bottom">
        <div class="container">
            <div class="row mb--50">
                <div class="col-lg-8 mb-50">
    
                              <blockquote class="single-quote">
                                    <div class="quotes">
                                     Our parents can get to choose our British national curriculum, which is offered at our school.
The curriculum is delivered through a combination of whole class activities, adult led focused activities and child-initiated activities
                                       
                                    </div>
                                </blockquote>
                                
                                     <!-- ==========About Section Starts Here========== -->

           
            <div class="row justify-content-center mb-30-none -mx-10">
                <div class="col-sm-7 col-md-6 col-lg-5 col-xl-3">
                    <div class="feature-item">
                        <div class="feature-thumb">
                            <img src="{{img("theme::assets/images/feature/01.png").path}}" class="ml--8" alt="feature">
                        </div>
                        <div class="feature-content">
                            <h5 class="title">Creche</h5>
                            <span class="cate">(1 – 2 years)</span>
                           
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 col-md-6 col-lg-5 col-xl-3">
                    <div class="feature-item">
                        <div class="feature-thumb">
                            <img src="{{img("theme::assets/images/feature/02.png").path}}" class="ml--8" alt="feature">
                        </div>
                        <div class="feature-content">
                            <h5 class="title">Preschool</h5>
                            <span class="cate">(3 – 4 years)</span>
                           
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 col-md-6 col-lg-5 col-xl-3">
                    <div class="feature-item">
                        <div class="feature-thumb">
                            <img src="{{img("theme::assets/images/feature/03.png").path}}" class="ml--8" alt="feature">
                        </div>
                        <div class="feature-content">
                            <h5 class="title">Lower Pri</h5>
                            <span class="cate">(4 – 8 years)</span>
                           
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 col-md-6 col-lg-5 col-xl-3">
                    <div class="feature-item">
                        <div class="feature-thumb">
                            <img src="{{img("theme::assets/images/feature/04.png").path}}" class="ml--8" alt="feature">
                        </div>
                        <div class="feature-content">
                            <h5 class="title">Upper Pri</h5>
                            <span class="cate">(9 – 14 years)</span>
                           
                        </div>
                    </div>
                </div>
            </div>
    
                                
                </div>

                <div class="col-lg-4 mb-50">
    
                         
                    <div class="schedule-item-2 bg_img bg_contain" data-background="{{img("theme::assets/images/british.png").path}}">
                        <ul>
                            <li>
                                <h6 class="title painting text-underline">Term One</h6>
                                <span class="time">September - December</span>
                            </li>
                            <li>
                                <h6 class="title text-underline">Term Two</h6>
                                <span class="time">January - April</span>
                            </li>
                            <li>
                                <h6 class="title fitness text-underline">Term Three</h6>
                                <span class="time">April - June</span>
                            </li>
                        </ul>
                    </div>
                                
                </div>
        </div>
        </div>
    </section>
    