 <div class="events-section padding-top padding-bottom pos-rel">
        <div class="top-shape-center">
            <img src="{{img("theme::assets/css/img/gallery1.png").path}}" alt="css">
        </div>
        <div class="bottom-shape-left">
            <img src="{{img("theme::assets/css/img/bottom-shape.png").path}}" alt="css">
        </div>
        <div class="container">
         
            <div class="class-wrapper">
                <div class="class-inner programe">
                    <div class="event-item">
                        <div class="event-thumb">
                            <a href="#"><img src="{{img("theme::assets/images/events/events01.jpg").path}}" alt="events"></a>
                            <div class="date-tag">
                                <h3 class="title">04</h3>
                                <span class="mon">May 20</span>
                            </div>
                        </div>
                        <div class="event-content">
                            <h5 class="title">
                                <a href="#">Father`s Day Saturdays and Sundays Reunion</a>
                            </h5>
                            <ul class="events-info">
                                <li><i class="fa fa-clock"></i> 08:00 am to 09:00 pm </li>
                                <li><i class="fa fa-home"></i> National Auditorium, Dhaka. </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="class-inner school kinder">
                    <div class="event-item">
                        <div class="event-thumb">
                            <a href="#"><img src="{{img("theme::assets/images/events/events02.jpg").path}}" alt="events"></a>
                            <div class="date-tag">
                                <h3 class="title">04</h3>
                                <span class="mon">May 20</span>
                            </div>
                        </div>
                        <div class="event-content">
                            <h5 class="title">
                                <a href="#">Last Day of School End of Year Picnic</a>
                            </h5>
                             <ul class="events-info">
                                <li><i class="fa fa-clock"></i> 08:00 am to 09:00 pm </li>
                                <li><i class="fa fa-home"></i> National Auditorium, Dhaka. </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="class-inner programe kinder">
                    <div class="event-item">
                        <div class="event-thumb">
                            <a href="#"><img src="{{img("theme::assets/images/events/events05.jpg").path}}" alt="events"></a>
                            <div class="date-tag">
                                <h3 class="title">04</h3>
                                <span class="mon">May 20</span>
                            </div>
                        </div>
                        <div class="event-content">
                            <h5 class="title">
                                <a href="#">Father`s Day Saturdays and Sundays Reunion</a>
                            </h5>
                             <ul class="events-info">
                                <li><i class="fa fa-clock"></i> 08:00 am to 09:00 pm </li>
                                <li><i class="fa fa-home"></i> National Auditorium, Dhaka. </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="class-inner preschool">
                    <div class="event-item">
                        <div class="event-thumb">
                            <a href="#"><img src="{{img("theme::assets/images/events/events06.jpg").path}}" alt="events"></a>
                            <div class="date-tag">
                                <h3 class="title">04</h3>
                                <span class="mon">May 20</span>
                            </div>
                        </div>
                        <div class="event-content">
                            <h5 class="title">
                                <a href="#">Last Day of School End of 
                                    Year Picnic</a>
                            </h5>
                             <ul class="events-info">
                                <li><i class="fa fa-clock"></i> 08:00 am to 09:00 pm </li>
                                <li><i class="fa fa-home"></i> National Auditorium, Dhaka. </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="class-inner toddler school">
                    <div class="event-item">
                        <div class="event-thumb">
                            <a href="#"><img src="{{img("theme::assets/images/events/events04.jpg").path}}" alt="events"></a>
                            <div class="date-tag">
                                <h3 class="title">04</h3>
                                <span class="mon">May 20</span>
                            </div>
                        </div>
                        <div class="event-content">
                            <h5 class="title">
                                <a href="#">Father`s Day Saturdays and Sundays Reunion</a>
                            </h5>
                             <ul class="events-info">
                                <li><i class="fa fa-clock"></i> 08:00 am to 09:00 pm </li>
                                <li><i class="fa fa-home"></i> National Auditorium, Dhaka. </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="class-inner preschool">
                    <div class="event-item">
                        <div class="event-thumb">
                            <a href="#"><img src="{{img("theme::assets/images/events/events07.jpg").path}}" alt="events"></a>
                            <div class="date-tag">
                                <h3 class="title">04</h3>
                                <span class="mon">May 20</span>
                            </div>
                        </div>
                        <div class="event-content">
                            <h5 class="title">
                                <a href="#">Last Day of School End of 
                                    Year Picnic</a>
                            </h5>
                             <ul class="events-info">
                                <li><i class="fa fa-clock"></i> 08:00 am to 09:00 pm </li>
                                <li><i class="fa fa-home"></i> National Auditorium, Dhaka. </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="class-inner toddler programe">
                    <div class="event-item">
                        <div class="event-thumb">
                            <a href="#"><img src="{{img("theme::assets/images/events/events03.jpg").path}}" alt="events"></a>
                            <div class="date-tag">
                                <h3 class="title">04</h3>
                                <span class="mon">May 20</span>
                            </div>
                        </div>
                        <div class="event-content">
                            <h5 class="title">
                                <a href="#">Father`s Day Saturdays and Sundays Reunion</a>
                            </h5>
                             <ul class="events-info">
                                <li><i class="fa fa-clock"></i> 08:00 am to 09:00 pm </li>
                                <li><i class="fa fa-home"></i> National Auditorium, Dhaka. </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="class-inner preschool kinder">
                    <div class="event-item">
                        <div class="event-thumb">
                            <a href="#"><img src="{{img("theme::assets/images/events/events08.jpg").path}}" alt="events"></a>
                            <div class="date-tag">
                                <h3 class="title">04</h3>
                                <span class="mon">May 20</span>
                            </div>
                        </div>
                        <div class="event-content">
                            <h5 class="title">
                                <a href="#">Last Day of School End of 
                                    Year Picnic</a>
                            </h5>
                             <ul class="events-info">
                                <li><i class="fa fa-clock"></i> 08:00 am to 09:00 pm </li>
                                <li><i class="fa fa-home"></i> National Auditorium, Dhaka. </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="class-inner toddler school">
                    <div class="event-item">
                        <div class="event-thumb">
                            <a href="#"><img src="{{img("theme::assets/images/events/events09.jpg").path}}" alt="events"></a>
                            <div class="date-tag">
                                <h3 class="title">04</h3>
                                <span class="mon">May 20</span>
                            </div>
                        </div>
                        <div class="event-content">
                            <h5 class="title">
                                <a href="#">Father`s Day Saturdays and Sundays Reunion</a>
                            </h5>
                            <ul class="events-info">
                                <li><i class="fa fa-clock"></i> 08:00 am to 09:00 pm </li>
                                <li><i class="fa fa-home"></i> National Auditorium, Dhaka. </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
         
        </div>
    </div>