 
<section class="client-section padding-top padding-bottom bg_img" data-background="{{img("theme::assets/images/client/client-bg.jpg").path}}">
        <div class="top-shape-center">
            <img src="{{img("theme::assets/css/img/gallery1.png").path}}" alt="css">
        </div>
        <div class="bottom-shape-left">
            <img src="{{img("theme::assets/css/img/bottom-shape.png").path}}" alt="css">
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-header">
                        <span class="cate">Giving you the best</span>
                        <h3 class="title text-white">We nurture them from tender age</h3>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mb-30-none -mx-10">
                <div class="col-sm-7 col-md-6 col-lg-5 col-xl-3">
                    <div class="feature-item">
                        <div class="feature-thumb">
                            <img src="{{img("theme::assets/images/feature/01.png").path}}" class="ml--8" alt="feature">
                        </div>
                        <div class="feature-content">
                            <h5 class="title">Creche</h5>
                            <span class="cate">(1 – 2 years)</span>
                            <p>FIS is a private coeducational international school registered with the Ministry of education in Kenya</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 col-md-6 col-lg-5 col-xl-3">
                    <div class="feature-item">
                        <div class="feature-thumb">
                            <img src="{{img("theme::assets/images/feature/02.png").path}}" class="ml--8" alt="feature">
                        </div>
                        <div class="feature-content">
                            <h5 class="title">Preschool</h5>
                            <span class="cate">(3 – 4 years)</span>
                            <p>FIS is a private coeducational international school registered with the Ministry of education in Kenya</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 col-md-6 col-lg-5 col-xl-3">
                    <div class="feature-item">
                        <div class="feature-thumb">
                            <img src="{{img("theme::assets/images/feature/03.png").path}}" class="ml--8" alt="feature">
                        </div>
                        <div class="feature-content">
                            <h5 class="title">Lower Primary</h5>
                            <span class="cate">(4 – 8 years)</span>
                            <p>FIS is a private coeducational international school registered with the Ministry of education in Kenya</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 col-md-6 col-lg-5 col-xl-3">
                    <div class="feature-item">
                        <div class="feature-thumb">
                            <img src="{{img("theme::assets/images/feature/04.png").path}}" class="ml--8" alt="feature">
                        </div>
                        <div class="feature-content">
                            <h5 class="title">Upper Primary</h5>
                            <span class="cate">(9 – 14 years)</span>
                            <p>FIS is a private coeducational international school registered with the Ministry of education in Kenya</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>
