 <section class="facilities-section">
        <div class="container-fluid p-0">
            <div class="row m-0">
                <div class="col-lg-7 col-xl-6 px-0">
                    <div class="facility-area padding-bottom padding-top bg_img" data-background="{{img("theme::assets/images/facilities/facility-bg2.jpg").path}}">
                        <div class="facility-container">
                            <div class="cl-white section-header left-style">
                                <span class="cate">Giving the best by nurturing the young ones</span>
                                <h3 class="title">Why Choose Fairmonts</h3>
                                <p>We provide the best foundation possible. We have a progressive approach to education and ensure our programs are creative, fun and engaging. We believe in excellence and will readily go the extra mile to ensure that the child receives nothing but the best. We have what it takes to identify, nurture and develop every child's full potential.</p>
                            </div>
                            <div class="facility-wrapper">
                                <div class="facility-item">
                                    <div class="facility-inner">
                                        <div class="facility-thumb">
                                            <img src="{{img("theme::assets/images/facilities/facility1.png").path}}" alt="facility">
                                        </div>
                                        <h6 class="title">Clean Playgrounds</h6>
                                    </div>
                                </div>
                                <div class="facility-item">
                                    <div class="facility-inner">
                                        <div class="facility-thumb">
                                            <img src="{{img("theme::assets/images/facilities/facility2.png").path}}" alt="facility">
                                        </div>
                                        <h6 class="title">Transport Facilities</h6>
                                    </div>
                                </div>
                                <div class="facility-item">
                                    <div class="facility-inner">
                                        <div class="facility-thumb">
                                            <img src="{{img("theme::assets/images/facilities/facility3.png").path}}" alt="facility">
                                        </div>
                                        <h6 class="title">Modern Classrooms</h6>
                                    </div>
                                </div>
                                <div class="facility-item">
                                    <div class="facility-inner">
                                        <div class="facility-thumb">
                                            <img src="{{img("theme::assets/images/facilities/facility4.png").path}}" alt="facility">
                                        </div>
                                        <h6 class="title">Colorful Classes</h6>
                                    </div>
                                </div>
                                <div class="facility-item">
                                    <div class="facility-inner">
                                        <div class="facility-thumb">
                                            <img src="{{img("theme::assets/images/facilities/facility5.png").path}}" alt="facility">
                                        </div>
                                        <h6 class="title">Positive Learning</h6>
                                    </div>
                                </div>
                                <div class="facility-item">
                                    <div class="facility-inner">
                                        <div class="facility-thumb">
                                            <img src="{{img("theme::assets/images/facilities/facility6.png").path}}" alt="facility">
                                        </div>
                                        <h6 class="title">Fun With Games</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-xl-6 px-0 bg_img" data-background="{{img("theme::assets/images/facility-bg.jpg").path}}">
                </div>
            </div>
        </div>
    </section>