<section class="banner-section bg_img" data-background="{{img("theme::assets/images/banner/banner01.png").path}}">
        <div class="container">
            <div class="banner-content cl-white">
                <div class="contact-wrapper">
                    <div class="contact-item">
                        <div class="contact-thumb">
						 <img src="{{img("theme::assets/images/contact/02.png").path}}" alt="contact">
                           
                        </div>
                        <div class="contact-content">
                            <h6 class="">ADDRESS</h6>
							<hr>
                            <ul>
                                <li>Opposite Daraja Mbili Mixed Secondary,Kisii</li>
                                <li>P.O.BOX 3492-40200, KISII</li>
                            </ul>
                        </div>
                    </div>
                    
                   <div class="contact-item">
                        <div class="contact-thumb">
                            <img src="{{img("theme::assets/images/contact/03.png").path}}" alt="contact">
                        </div>
                        <div class="contact-content">
                            <h6 class="">OPENING HOURS</h6>
							<br>
							<hr>
							
                            <ul>
                                <li>Monday - Friday</li>
                                <li>08.00 am – 05.30 pm</li>
                            </ul>
                        </div>
                    </div>
					
                    <div class="contact-item">
                        <div class="contact-thumb">
                            <img src="{{img("theme::assets/images/contact/05.png").path}}" alt="contact">
                        </div>
                        <div class="contact-content">
                            <h6 class="">TELEPHONE</h6>
							<hr>
                            <ul>
                                <li><a class="text-white" href="Tel:0797967370"> +(254) 797 967370, </a></li>
                                <li><a class="text-white" href="Tel:0725461121">+(254) 725 461121</a></li>
                            </ul>
                        </div>
                    </div>
					
					<div class="contact-item">
                        <div class="contact-thumb">
						     <img src="{{img("theme::assets/images/contact/04.png").path}}" alt="contact">
                           
                        </div>
                        <div class="contact-content">
                            <h6 class="">EMAIL ADDRESS</h6>
							<br>
							<hr>
                            <ul>
                                <li>fairmontsinternationalschool@gmail.com</li>
                                <li>info@fairmontsinternationalschool.co.ke</li>
                            </ul>
                        </div>
                    </div>
					
					 
                </div>
            </div>
        </div>
    </section>