 <section class="call-in-action padding-top padding-bottom theme-overlay bg_img" data-background="assets/images/bg/call-bg.jpg">
        <div class="top-shape-content d-none d-lg-block">
            <img src="{{img("theme::assets/images/banner/banner04.png").path}}" alt="banner">
        </div>
        <div class="container">
            <div class="page-header-content img-cover">
                <h1 class="title text-white">Videos Gallery</h1>
                <ul class="breadcrumb">
                    <li>
                        <a href="#" class="text-white">Home</a>
                    </li>
                    <li class="text-white">
                      Videos Gallery
                    </li>
                </ul>
            </div>
			 </div>
	 <div class="v-container" style="margin-top:50px; margin-bottom:50px">
        <div class="v-row">
            <div class="v-youtube_video">
                <iframe width="100%" height="100%" id="video_id" src="https://www.youtube.com/embed/MLaS43ZOF0M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="details">
                <p></p>
            </div>
        </div>
        <div class="v-gallery">
            <div class="v-item">
                <img src="{{img("theme::img/4.jpg").path}}" data-id="MLaS43ZOF0M">
                <div class="youtube_icon">
                    <img src="{{img("theme::img/youtube.svg").path}}">
                </div>
            </div>
            <div class="v-item">
                <img src="{{img("theme::img/5.jpg").path}}" data-id="MLaS43ZOF0M">
                <div class="youtube_icon">
                    <img src="{{img("theme::img/youtube.svg").path}}">
                </div>
            </div>
            <div class="v-item">
                <img src="{{img("theme::img/10.jpg").path}}" data-id="MLaS43ZOF0M">
                <div class="youtube_icon">
                    <img src="{{img("theme::img/youtube.svg").path}}">
                </div>
            </div>
            <div class="v-item">
                <img src="{{img("theme::img/45.jpg").path}}" data-id="MLaS43ZOF0M">
                <div class="youtube_icon">
                    <img src="{{img("theme::img/youtube.svg").path}}">
                </div>
            </div>
        </div>
    </div>
</section>

       
    