<section class="teacher-section padding-top padding-bottom pos-rel">
        <div class="top-shape-center">
            <img src="{{img("theme::assets/css/img/gallery1.png").path}}" alt="css">
        </div>
        <div class="container">
          
            <div class="row justify-content-center mb-30-none">
                <div class="col-lg-3 col-sm-6">
                    <div class="teacher-item-2">
                        <div class="teacher-thumb">
                            <div class="thumb">
                                <a href="#">
                                    <img src="{{img("theme::assets/images/teacher/teacher01.jpg").path}}" alt="teacher">
                                </a>
                            </div>
                            <div class="content">
                                <h5 class="title"><a href="#">Jason Kovalsky</a></h5>
                                <span>Spanish Teacher</span>
                            </div>
                        </div>
                      
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="teacher-item-2">
                        <div class="teacher-thumb">
                            <div class="thumb">
                                <a href="#">
                                    <img src="{{img("theme::assets/images/teacher/teacher02.jpg").path}}" alt="teacher">
                                </a>
                            </div>
                            <div class="content">
                                <h5 class="title"><a href="#">Bangile Yusha</a></h5>
                                <span>Spanish Teacher</span>
                            </div>
                        </div>
                       
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="teacher-item-2">
                        <div class="teacher-thumb">
                            <div class="thumb">
                                <a href="#">
                                    <img src="{{img("theme::assets/images/teacher/teacher03.jpg").path}}" alt="teacher">
                                </a>
                            </div>
                            <div class="content">
                                <h5 class="title"><a href="#">Willium Kovalsky</a></h5>
                                <span>Spanish Teacher</span>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="teacher-item-2">
                        <div class="teacher-thumb">
                            <div class="thumb">
                                <a href="#">
                                    <img src="{{img("theme::assets/images/teacher/teacher04.jpg").path}}" alt="teacher">
                                </a>
                            </div>
                            <div class="content">
                                <h5 class="title"><a href="#">Bini Zaara</a></h5>
                                <span>Spanish Teacher</span>
                            </div>
                        </div>
                     
                    </div>
                </div>

				<div class="col-lg-3 col-sm-6">
                    <div class="teacher-item-2">
                        <div class="teacher-thumb">
                            <div class="thumb">
                                <a href="#">
                                    <img src="{{img("theme::assets/images/teacher/teacher03.jpg").path}}" alt="teacher">
                                </a>
                            </div>
                            <div class="content">
                                <h5 class="title"><a href="#">Jason Kovalsky</a></h5>
                                <span>Spanish Teacher</span>
                            </div>
                        </div>
                      
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="teacher-item-2">
                        <div class="teacher-thumb">
                            <div class="thumb">
                                <a href="#">
                                    <img src="{{img("theme::assets/images/teacher/teacher04.jpg").path}}" alt="teacher">
                                </a>
                            </div>
                            <div class="content">
                                <h5 class="title"><a href="#">Bangile Yusha</a></h5>
                                <span>Spanish Teacher</span>
                            </div>
                        </div>
                       
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="teacher-item-2">
                        <div class="teacher-thumb">
                            <div class="thumb">
                                <a href="#">
                                    <img src="{{img("theme::assets/images/teacher/teacher01.jpg").path}}" alt="teacher">
                                </a>
                            </div>
                            <div class="content">
                                <h5 class="title"><a href="#">Willium Kovalsky</a></h5>
                                <span>Spanish Teacher</span>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="teacher-item-2">
                        <div class="teacher-thumb">
                            <div class="thumb">
                                <a href="#">
                                    <img src="{{img("theme::assets/images/teacher/teacher02.jpg").path}}" alt="teacher">
                                </a>
                            </div>
                            <div class="content">
                                <h5 class="title"><a href="#">Bini Zaara</a></h5>
                                <span>Spanish Teacher</span>
                            </div>
                        </div>
                     
                    </div>
                </div>
				
            </div>
        </div>
    </section>