
{{ asset_add("jqueryv3.1.js", "theme::assets/js/jqueryv3.1.js") }}
{{ asset_script("jqueryv3.1.js") }}

{{ asset_add("modernizr.js", "theme::assets/js/modernizr-3.6.0.min.js")}}
{{ asset_add("plugins.js", "theme::assets/js/plugins.js")}}
{{ asset_add("bootstrap.js", "theme::assets/js/bootstrap.min.js") }}
{{ asset_add("progress.js", "theme::assets/js/progress.js")}}
{{ asset_add("isotope.js", "theme::assets/js/isotope.pkgd.min.js")}}
{{ asset_add("magnific-popup.js","theme::assets/js/magnific-popup.min.js")}}
{{ asset_add("viewport.js", "theme::assets/js/viewport.jquery.js")}}
{{ asset_add("odometer.js", "theme::assets/js/odometer.min.js")}}
{{ asset_add("nice-select.js", "theme::assets/js/nice-select.js")}}
{{ asset_add("slick.js", "theme::assets/js/slick.min.js")}}
{{ asset_add("main.js", "theme::assets/js/main.js")}}
{{ asset_add("owl.js", "theme::assets/js/owl.carousel.min.js") }}
{{ asset_add("wow.js", "theme::assets/js/wow.min.js") }}
{{ asset_add("main2.js", "theme::assets/js/main2.js") }}
{{ asset_add("html5gallery.js","theme::assets/js/html5gallery.js") }}
{{ asset_add("video-themejs.js", "theme::assets/js/video-themejs.js") }}



{{ asset_script('modernizr.js')}}
{{ asset_script('plugins.js')}}
{{ asset_script('bootstrap.js') }}
{{ asset_script('progress.js')}}
{{ asset_script('isotope.js')}}
{{ asset_script('magnific-popup.js')}}
{{ asset_script('viewport.js')}}
{{ asset_script('odometer.js')}}
{{ asset_script('nice-select.js')}}
{{ asset_script('slick.js')}}
{{ asset_script('main.js')}}
{{ asset_script('owl.js') }}
{{ asset_script('wow.js') }}
{{ asset_script('main2.js') }}
{{ asset_script("html5gallery.js") }}
{{ asset_script('video-themejs.js') }}



<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v9.0&appId=182616676522482&autoLogAppEvents=1" nonce="QI69Sdxu"></script>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js">



